@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: #66f08f96;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #357548;
}

h1#principal {
    text-align: center;
    background-color: #2A613A;
    border-radius: 30px;
    color: white;
}

h2 {
    color: #4b9b63;
}

.basico {
    color: #000000;
    font-weight: bold;
}

.intermediario {
    color: white;
}

.avançado {
    color: blue;
}

.destaque {
    background-color: rgba(165, 165, 30, 0.425);
}